.fundo{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,1) 100%);
}

.titulo{
    position: absolute; top: 50px; left: 250px;
}



.logo{
    height: 148px;
    width: 100px;
}

.tabela{
    height: 200px; 
    width: 600px; 
    border: 1px;
}
    
