.cabecalho {
    text-align: center;
    background-color: red;
    padding: 20px;
}

.caixa{
    margin-top: 15px;
    display: inline-block;
    padding: 13px;
    border:1px solid blue;
    color: blue;
    font-size: 16px;
}

.botao{
    margin: 10px;
    width: 100px;
    height: 50px;
    background-color:green;
    color: white;
    border:0px;
}


.desen{
    background-color: red;
			display: grid;
			grid-template-columns: repeat(3, 50px);
			grid-template-rows: repeat(1, 100px);
			gap: 20px;
}

.item1{
    margin-left: 20px;
    margin-top: 20px;
    background-color: blue;
    flex: 1;

}

.item2{
    background-color: blue;
    flex: 2;
}

.item3{
    background-color: blue;
    flex: 3;
}